<%- include ('../partials/header') %>
  <h2>My listings</h2>
  <div class="col-sm-12 col-md-10 col-lg-9 mx-auto"></div>
    <div class="card border-light mb-3">
      <div class="row no-gutters p-3">
        <div class="col-md-12 d-flex justify-content-between align-items-center">
          <h2>Title</h2>
          <span class="badge badge-pill badge-success">Active</span>
        </div>
        <div class="col-md-4">
          <img src="..." alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title">Card title</h3>
            <hr>
            <p class="card-text"><small class="text-muted">Published by USERNAME on 12/12/2021</small></p>
            <p class="card-text"><strong>Description: </strong> This is a wider card with supporting text below as a
              natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="row">
              <div class="col-md-12">
                <table class="table-borderless w-25 mb-4">
                  <tr>
                    <td><strong>Initial price: </strong></td>
                    <td><span class="text-success">$US 599.00</span></td>
                  </tr>
                  <tr>
                    <td><strong>Current bid: </strong></td>
                    <td><strong class="text-primary">$US 600.00</strong></td>
                  </tr>
                </table>
                <form action="">
                  <div class="form-group">
                    <button type="submit" class="btn btn-warning">Close Listing</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<%- include ('../partials/footer') %>